.cache
.cache-main
.classpath
.project
.settings/
target/
temp/
.history
src/test/resources/extracted-taxonomies/**/*

# /project/
/project/boot
/project/project/
/project/target/
/project/build/target

